{% extends 'olga/base.html' %}

{% block title %}Вход - MEN'S STORE{% endblock %}

{% block content %}
<div class="auth-page">
    <div class="auth-card-center">
        <h2>Вход</h2>
        <form method="post" class="auth-form-center">
            {% csrf_token %}
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" required placeholder="your@email.com">
            </div>
            <div class="form-group">
                <label>Пароль</label>
                <input type="password" name="password" required placeholder="*********">
            </div>
            <div class="form-links">
                <a href="#" class="forgot-password">Забыли пароль?</a>
            </div>
            <button type="submit" class="btn-submit-center">Войти</button>
        </form>
        <p class="auth-link">Нет аккаунта? <a href="{% url 'olga:register' %}">Зарегистрироваться</a></p>
    </div>
</div>
{% endblock %}